<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>East Windsor Deli</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src='/js/googleMaps.js'></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">East Windsor Deli</a>
    </div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/menu">Menu</a></li>
			<li><a href="/images">Deli Images</a></li>
			<li><a href="/order">Order Online</a></li>
		</ul>
	</div>

	</div>
</nav>
	{{{body}}}

<footer class="footer">
	<div class="container-fluid">
		<h4>&copy;East Windsor Deli 2017</h4>
	</div>
</footer>
</body>
</html>