<div>
	{{#each order}}
	<div id='order'>
		<div style="display: block;">
			<h3>Name: <span>{{this.Name}}</span></h3>
		</div>
		<div style="display: block;">
			<h3>Request: <span>{{this.SpecialRequest}}</span></h3>
		</div>
		<button id="delete" >Delete</button>
		<hr>
	</div>
	{{/each}}
</div>

<script type="text/javascript">

$('#delete').click(function(){
	$('#order').remove();
});

</script>