<div id="images" class="container">
	<div class="row">
		<div class="col-md-12">
		<a id='link' href="/images/cheese.jpg" data-lightbox="example-set" data-title="Cheese picture.">
			<img class="img" src="/images/cheese.jpg" alt="cheese pic"/></a>

		<a id='link' href="/images/counter.jpg" data-lightbox="example-set" data-title="Cook behind counter.">
			<img class="img" src="/images/counter.jpg" alt="counter" /></a>

		<a id='link' href="/images/platter.jpg" data-lightbox="example-set" data-title="Good Eating.">
			<img class="img" src="/images/platter.jpg" alt="platter" /></a>

		<a id='link' href="/images/sub.jpg" data-lightbox="example-set" data-title="Subs.">
			<img class="img" src="/images/sub.jpg" alt="sub" /></a>

		<a id='link' href="/images/cook.jpg" data-lightbox="example-set" data-title="Outher Cook.">
			<img class="img" src="/images/cook.jpg" alt="cook" /></a>

		<a id='link' href="/images/counter2.jpg" data-lightbox="example-set" data-title="Order Anything.">
			<img class="img" src="/images/counter2.jpg" alt="sub" /></a>

		<a id='link' href="/images/breakfast.jpg" data-lightbox="example-set" data-title="Order Breakfast.">
			<img class="img" src="/images/breakfast.jpg" alt="sub" /></a>

		<a id='link' href="/images/burger.jpg" data-lightbox="example-set" data-title="Order Burgers.">
			<img class="img" src="/images/burger.jpg" alt="sub" /></a>

		<a id='link' href="/images/fries.jpg" data-lightbox="example-set" data-title="Order Fries.">
			<img class="img" src="/images/fries.jpg" alt="sub" /></a>

		<a id='link' href="/images/eggs.jpg" data-lightbox="example-set" data-title="Order Anything.">
			<img class="img" src="/images/eggs.jpg" alt="sub" /></a>

		<a id='link' href="/images/pancakes.jpg" data-lightbox="example-set" data-title="Order Eggs.">
			<img class="img" src="/images/pancakes.jpg" alt="sub" /></a>

		<a id='link' href="/images/toast.jpg" data-lightbox="example-set" data-title="Order Toast.">
			<img class="img" src="/images/toast.jpg" alt="sub" /></a>
		</div>
	</div>		
</div>