<div  id="index">
	<h1>Hours &amp; Location</h1>
	<ul>
		<li style="list-style-type: none;"><a id="phone" href="tel:609-426-1955"><h2>Click to Call!</h2></a></li>
		<li>Mon - 4:30AM - 4PM</li>
		<li>Tue - 4:30AM - 4PM</li>
		<li>Wed - 4:30AM - 4PM</li>
		<li>Thur - 4:30AM - 4PM</li>
		<li>Fri - 4:30AM - 4PM</li>
		<li>Sat - 4:30AM - 4PM</li>
		<li>Sun - Closed</li>
	</ul>
</div>
<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat: 40.283969, lng: -74.564909};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
