<div id="index" class="container-fluid">
  <div class="row">
    <div id="hours" class="col-md-4">
      <h2>Hours &amp; <br>Location</h2>
      <ul>
        <li style="list-style-type: none;"><a id="phone" href="tel:609-426-1955"><h4>Click to Call!</h4></a></li>
        <li>Mon - 4:30AM - 4PM</li>
        <li>Tue - 4:30AM - 4PM</li>
        <li>Wed - 4:30AM - 4PM</li>
        <li>Thur - 4:30AM - 4PM</li>
        <li>Fri - 4:30AM - 4PM</li>
        <li>Sat - 4:30AM - 4PM</li>
        <li>Sun - Closed</li>
      </ul>
    </div>
    <div id="map" class="col-md-6"></div>
  </div>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiaHViYmFkdWJzIiwiYSI6ImNqczg2OGY4aDBnbHIzeXBhNnN6eXBndXAifQ.o1PkG0rEs7KwTKiMUx3jRw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
center: [-74.564946, 40.283908], // starting position [lng, lat]
zoom: 10 // starting zoom
});

var marker = new mapboxgl.Marker()
  .setLngLat([-74.564946, 40.283908])
  .addTo(map);
</script>
