<div class="row">
	<div class="col-xs-12 col-md-8"><div  id="index">
		<h1>Hours &amp; Location</h1>
		<ul>
			<li style="list-style-type: none;"><a id="phone" href="tel:609-426-1955"><h2>Click to Call!</h2></a></li>
			<li>Mon - 4:30AM - 4PM</li>
			<li>Tue - 4:30AM - 4PM</li>
			<li>Wed - 4:30AM - 4PM</li>
			<li>Thur - 4:30AM - 4PM</li>
			<li>Fri - 4:30AM - 4PM</li>
			<li>Sat - 4:30AM - 4PM</li>
			<li>Sun - Closed</li>
		</ul>
	</div></div>
	<div class="col-xs-6 col-md-4"><iframe id="google"
		width="500"
		height="400"
		frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAVUmawnKn5NCZ6j46teq4zCaiiXz-gcns
		&q=596+Old+Trenton+Rd,+East+Windsor,+NJ" allowfullscreen>
	</iframe></div>
</div>