html{
	position: relative;
	min-height: 100%;
}

nav{
	margin-top: 5px;
	text-align: center;
	font-size: 30px;
	font-family: 'Times';
}
nav a{
	border: 2px solid lightblue;
	padding: 5px;
	border-radius: 15px;
}

a:hover{
	background-color: lightblue;
	color: white;
}
body{
	padding-top: 65px;
	margin-bottom: 60px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
}
#index{
	width: 1920px;
}
#hours{
	text-align: right;
	padding-right: 75px;
}

ul li{
	list-style: none;
}
#map{
	width: 500px;
	height: 400px;
}

label {
	color: blue;
}


#items {
	width: 360px;
}
#res{
	text-align: center;
}

.img {
	width: 200px;
	height: 150px;
	margin-bottom: 10px;
}

#images {
	width: 50%;
	margin: 0 auto;
}

.order{
	margin: 0 auto;
	width: 22%;}

@media only screen and (max-width: 900px) {
    #hours{
    	display: block;
    	float: left;
    	margin-left: 10px;
    }
    #map {
    	display: block;
    	width: 250px;
        height: 250px;
    }

}